*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: lightgray;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
}

.container{
  max-width: 1000px;  
  margin: 0 auto;
 }

header{
  background-color: white;
  background-size: 100px;
  padding-left: 15px;
  padding-top: 10px;
  margin: 0 auto ;
}

header .instest img{width: 150px;}

header .titolo{
 display: inline;
 font-size: 2.8rem;
 margin: 2px 2px;
 vertical-align: top;
 font-weight: bold;
}

.listblock{
  background-color: white;
  border-width: 250px;  
  margin-top: 40px;
  padding-top: 10px; 
  padding-bottom: 50px; 
}

.list{
  margin-left: 40px;
}

.listblock .pulsante{
  color:white;
  border-top-left-radius: 2px;
  border-radius: 6px;
  padding: 8px;
  border: 1px;  
  background-color: rgb(67, 175, 239);
  text-align: center;
  text-decoration: none;
  display: inline-block;  
  
}

.listblock .pulsante#puls1{
}

.listblock .pulsante#puls2{
  color:gray;
  background-color: white;
  border: 1px;
  border-color: gray;
  border-style: solid;
  

}

.divisore{ margin-top: 10px;
  
 }

.titlelist{ 
 padding-right: 20px; 
 margin: 15px;
 font-weight: bold;
}


.listelement{
  padding-bottom: 10px;
  list-style: none;
}

.listelementneg{
  padding-bottom: 10px;
  list-style: none;
}

.badge{
  background-color: rgb(63, 177, 232);
  display: inline-block;
  width: 60px;
  height: 20px;    
  text-align: center;
  border-radius: 10px;
  color:white;
  font-size: 0.7rem;
  vertical-align: middle;
  
}


#badgepurple{
  background-color: rgb(154, 116, 224);
  display: inline-block;
  width: 60px;
  height: 20px;    
  text-align: center;
  border-radius: 10px;
  color:white;
  font-size: 0.7rem;
  vertical-align: middle;
}

#badgegreen{
  background-color: rgb(102, 193, 169);
  display: inline-block;
  width: 60px;
  height: 20px;    
  text-align: center;
  border-radius: 10px;
  color:white;
  font-size: 0.7rem;
  vertical-align: middle;

}

#badgeorange{
  background-color: rgb(251, 156, 49);
  display: inline-block;
  width: 60px;
  height: 20px;    
  text-align: center;
  border-radius: 10px;
  color:white;
  font-size: 0.7rem;
  vertical-align: middle;
  
}

#badgepink{
  background-color: rgb(215, 100, 168);
  display: inline-block;
  width: 60px;
  height: 20px;    
  text-align: center;
  border-radius: 10px;
  color:white;
  font-size: 0.7rem;
  vertical-align: middle;
}

#badgegr{
  background-color: rgb(176, 203, 37);
  display: inline-block;
  width: 60px;
  height: 20px;    
  text-align: center;
  border-radius: 10px;
  color:white;
  font-size: 0.7rem;
  vertical-align: middle;
}


.listelement::before{content:'✓';padding: 5px; color: greenyellow;}

.listelementneg::before{content:'x'; padding: 5px; color:red}